.user-container{
    background-color: rgb(64, 150, 224);
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1.5rem;
    align-items: center;
    margin: 1rem;
}

#user-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}