*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  color: white;

}